.menu{
    margin-bottom: 30px;
}
.app{
    margin-top: 30px;
}
.pagina{
    border: 1px solid #060930;
    border-radius: 5px;
    padding: 30px !important;
}
.navback{
    background-color: #060930;
}
li.list-group-item.active{
    background-color: white;
    border-color: #060930;
    border-left: 10px solid #060930;
}
li a{
    color: #595b83;
}
li a:hover{
    text-decoration: none;
    color: #060930;
    font-weight: 500;
}
h4{
    color: #060930 !important;
}
.btn-save{
    background-color: #060930 !important;
    color: white !important;
    height: 35px !important;
    border-radius: 5px !important;
    outline-color: #7e7eeb !important;
    box-sizing: border-box !important;
    border: none !important;
}